 <div class="container-fluid " style="padding-top: 50px;padding-bottom: 70px;">
            <h2 style="font-family: Arial, Helvetica, sans-serif; text-align: center;">Select top Categories..</h2>
            <div class="row" style="padding-top: 20px;">
              <div class="col-4 ">
                <h3 style="text-align: center;">vegitables </h3>
                 <div class="pic1"></div>
                 <div class="text-center " style="padding: 12px;"><button (click)= "vegitables()" type="button" class="btn btn-primary">CheckOut</button></div>
                 
              </div>
              <div class="col-4 ">
                <h3 style="text-align: center;">Stationary</h3>
                <div class="pic2"></div>
                <div class="text-center " style="padding: 12px;"><button  (click)= "Stationary()" type="button" class="btn btn-primary">CheckOut</button></div>

              </div>
              <div class="col-4 ">
                <h3 style="text-align: center;">Fruits</h3>
                <div class="pic3"></div>
                <div class="text-center " style="padding: 12px;"><button   (click)= "Fruits()" type="button" class="btn btn-primary">CheckOut</button></div>
                
              </div>
            </div>  
        </div> 