.pic1 {
    background-image: url("../../../assets/itemsPics/pexels-ready-made-3851121.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 250px;
    height: 400px;
    margin-left: 100px;
    border-radius: 20px;
  }

  .pic2 {
    background-image: url("../../../assets/itemsPics/colourful_pencils.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 250px;
    height: 400px;
    margin-left: 100px;
    border-radius: 20px;
  }

  .pic3 {
    background-image: url("../../../assets/itemsPics/fruits.jpg");
    background-color: #cccccc;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 250px;
    height: 400px;
    margin-left: 100px;
    border-radius: 20px;
  }